$nav-mobile: linear-gradient(45deg, rgb(27, 49, 34), rgb(3, 12, 3));
$main-color: rgb(253, 131, 16);
$white: #ffffff;
$dark-main: rgb(221, 92, 7);
$shadow-img: linear-gradient(45deg, rgba(17, 17, 17, 0.75), rgba(0, 0, 0, 0.75));
$section-color: #ebeaea;
